/node_modules
/node_modules.nosync
/public/hot
/public/storage
/public/files
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
# /app/Http/Controllers/TestController.php
# /resources/views/test/*
.php_cs.cache
