//variables
$ctc-red: #d10f22;
$steps-completed-color: $ctc-red;
$steps-active-color: $ctc-red;
$link: $ctc-red;
$danger: $ctc-red;

//custom css
.is-ctc {
    background-color: $ctc-red !important;
    color: white !important;
}

//Bulma
@import './node_modules/bulma/bulma.sass';

// Import Extensions
@import "./node_modules/bulma-extensions/bulma-steps/src/sass/index.sass"
